body {
    background-color: hsl(30, 38%, 92%);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    height: 600px;
    border-radius: 10px;
    background-color: white;
    margin-top: 10%;
}

.pic {
    height: 600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left-part {
    max-width: 400px;
    max-height: 600px;
}

.right-part {
    max-height: 600px;
    max-width: 290px;
    padding: 45px 50px;
}

.subtitle {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 17px;
    color: rgb(123, 128, 133);
    letter-spacing: 5px;
}

.title {
    font-family: Fraunces;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}

.desc {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 17px;
    color: rgb(123, 128, 133);
    line-height: 30px;
}

.shop_cart {
    width: 15px;
    margin-right: 15px;
}

.cart_btn {
    border: none;
    border-radius: 15px;
    background: linear-gradient(hsla(103, 56%, 62%, 0.699), rgb(56, 167, 98));
    background-repeat: no-repeat;
    background-position: left;
    color: rgb(250, 250, 250);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 75px;
}

.cart_btn:hover {
    background: linear-gradient(rgb(56, 167, 98), hsla(103, 56%, 62%, 0.699));
    color: rgb(240, 241, 238);
    transition: all 0.3s ease-in-out;
}


.prices {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 35px;
}

.price_first {
    font-family: Fraunces;
    font-weight: 700;
    font-size: 40px;
    color: rgb(70, 129, 90);
}

.price_second {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    color: rgb(123, 128, 133);
    padding-left: 30px;
}