html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;

  flex-direction: column;
  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;

}

.logo {
  max-width: 200px;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.link {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-image: url(./img/download.png);
  background-position: left;
  padding-left: 35px;
  background-repeat: no-repeat;
}

.item {
  display: inline-block;
  padding: 49px 24px;
}

.item:not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

p {
  margin: 0;
  width: 872px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.list {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 10px;
}

.list:not(:last-child) {
  margin-bottom: 40px;
}

.headline {
  margin: 0;
  max-width: 720px;
}

h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

ul {
  padding-left: 15px;
}

ul li::marker {
  color: blue;
}

li:not(:last-child) {
  margin-bottom: 20px;
}

figure {
  display: inline-block;
  margin: 0;
  width: 872px;
  font-size: 0;
}

figure p {
  border: 1px solid #b6b6b6; 
  border-top: none;
  padding: 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

figure:not(:last-child) {
  margin-bottom: 40px;
}

.text {
  border: 20px;
  padding: 50px 95px;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  background-color: #3f2aff;
  border-radius: 30px;
  width: 100%;
}

.subject {
  background-image: url(./img/decorate-1.png);
  background-position: right;
  background-repeat: no-repeat;
}

.excerpt {
  padding-top: 30px;
}

.caption {
  background-image: url(./img/decorate-2.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.list_link {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.large {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
}

.section {
  max-width: 700px;
}